<!-- Main Wrapper -->
<div class="wrapper">

	<div class="container">
		<div class="row" id="main">
			<div class="4u">

				<!-- Sidebar -->
				<%- partial("_shared/sidebar") %>
		
			</div>
			<div class="8u skel-cell-mainContent">
		
				<!-- Content -->
					<article id="content">
						<header>
							<h2>Left Sidebar</h2>
							<span>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit
							dolor neque semper magna lorem ipsum.</span>
						</header>
						<a href="http://ineedchemicalx.deviantart.com/art/Freebird-378379295" class="image full"><img src="images/pic02.jpg" alt="" /></a>
						<p>Ut sed tortor luctus, gravida nibh eget, volutpat odio. Proin rhoncus, sapien 
						mollis luctus hendrerit, orci dui viverra metus, et cursus nulla mi sed elit. Vestibulum 
						condimentum, mauris a mattis vestibulum, urna mauris cursus lorem, eu fringilla lacus 
						ante non est. Nullam vitae feugiat libero, eu consequat sem. Proin tincidunt neque 
						eros. Duis faucibus blandit ligula, mollis commodo risus sodales at. Sed rutrum et 
						turpis vel blandit. Nullam ornare congue massa, at commodo nunc venenatis varius. 
						Praesent mollis nisi at vestibulum aliquet. Sed sagittis congue urna ac consectetur.</p>
						<p>Mauris eleifend eleifend felis aliquet ornare. Vestibulum porta velit at elementum
						gravida nibh eget, volutpat odio. Proin rhoncus, sapien 
						mollis luctus hendrerit, orci dui viverra metus, et cursus nulla mi sed elit. Vestibulum 
						condimentum, mauris a mattis vestibulum, urna mauris cursus lorem, eu fringilla lacus 
						ante non est. Nullam vitae feugiat libero, eu consequat sem. Proin tincidunt neque 
						eros. Duis faucibus blandit ligula, mollis commodo risus sodales at. Sed rutrum et 
						turpis vel blandit. Nullam ornare congue massa, at commodo nunc venenatis varius. 
						Praesent mollis nisi at vestibulum aliquet. Sed sagittis congue urna ac consectetur.</p>
						<p>Vestibulum pellentesque posuere lorem non aliquam. Mauris eleifend eleifend 
						felis aliquet ornare. Vestibulum porta velit at elementum elementum.</p>
					</article>

			</div>
		</div>
		<div class="row features">
			<section class="4u feature">
				<div class="image-wrapper first">
					<a href="http://ineedchemicalx.deviantart.com/art/Time-goes-by-too-fast-335982438" class="image full"><img src="images/pic03.jpg" alt="" /></a>
				</div>
				<header>
					<h3>Dolor sit consequat magna</h3>
				</header>
				<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur 
				vel sem sit dolor neque semper magna lorem ipsum.</p>
				<ul class="actions">
					<li><a href="#" class="button">Elevate my awareness</a></li>
				</ul>
			</section>
			<section class="4u feature">
				<div class="image-wrapper">
					<a href="http://ineedchemicalx.deviantart.com/art/Kingdom-of-the-Wind-348268044" class="image full"><img src="images/pic04.jpg" alt="" /></a>
				</div>
				<header>
					<h3>Dolor sit consequat magna</h3>
				</header>
				<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur 
				vel sem sit dolor neque semper magna lorem ipsum.</p>
				<ul class="actions">
					<li><a href="#" class="button">Elevate my awareness</a></li>
				</ul>
			</section>
			<section class="4u feature">
				<div class="image-wrapper">
					<a href="http://ineedchemicalx.deviantart.com/art/Elysium-355393900" class="image full"><img src="images/pic05.jpg" alt="" /></a>
				</div>
				<header>
					<h3>Dolor sit consequat magna</h3>
				</header>
				<p>Lorem ipsum dolor sit amet consectetur et sed adipiscing elit. Curabitur 
				vel sem sit dolor neque semper magna lorem ipsum.</p>
				<ul class="actions">
					<li><a href="#" class="button">Elevate my awareness</a></li>
				</ul>
			</section>
		</div>
	</div>
</div>